<ion-header>
  <ion-navbar color="primary">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding3 text-center>
  <div class="box">
    <div class="top">
      <div logo>
        <img src="assets/logo.png" />
      </div>

      <h2 ion-text text-center>Forgot Password</h2>
      <hr />
    </div>

    <div class="content">
      <div class="row">

        <div *ngIf="!show_reset">
          <form #secretForm="ngForm" novalidate>
            <ion-list>
              <ion-item>
                <ion-label fixed>Email</ion-label>
                <ion-input type="email" [(ngModel)]="secret.email" name="email" ngControl="email" required></ion-input>
              </ion-item>
            </ion-list>

            <button ion-button block large (click)="requestSecret(secretForm)">Request secret key</button>
          </form>

          <button ion-button clear (click)="switchShowReset()">I have a secret key</button>
        </div>

        <div *ngIf="show_reset">
          <form #recoverForm="ngForm" novalidate>
            <ion-list>
              <ion-item>
                <ion-label fixed>Secret Code</ion-label>
                <ion-input type="text" [(ngModel)]="recover.secret" name="secret" ngControl="secret" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label fixed>Password</ion-label>
                <ion-input type="password" [(ngModel)]="recover.password" name="password" ngControl="password" required></ion-input>
              </ion-item>
            </ion-list>

            <button ion-button block large (click)="requestRecover(recoverForm)">Change my password</button>
          </form>

          <button ion-button clear (click)="switchShowReset()">I don't a secret key</button>
        </div>

      </div>
    </div>
  </div>
</ion-content>
