page-login {
  ion-list {
    ion-item {
      &:first-child {
        border-top: none !important;
      }

      &:last-child {
        border-bottom: none !important;
      }
    }
  }

  ion-row {
    ion-col {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      button {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}
